<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy 2018 HUSUME, a research group in <a href="https://www.mfu.ac.th/">Mae Fah Luang University</a>.</p>       
		   <p>  </p><p>
            		  
            
		</div>
		<div class="col-sm-4">
		  Funding:<br />
		  - <a href="">Funder</a><br />
		  - <a href="">Grant</a><br />
    		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  Mae Fah Luang University<br />
		  333 Moo 1, Tha Suea,<br />
		  Mueang Chiang Rai,<br /> 
		  57100 Thailand<br />
            (<a href="https://goo.gl/maps/H2RjutkyoUH2">Maps</a>, <a href="http://www.physics.leidenuniv.nl/travel-directions">Directions</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
